# Resource Group & Location of the resources
resource_group_name = "terrform-demo-rg"
location = "westeurope"

# Default VNET & Server Subnet
virtual_network_name = "tfdemo-vnet-01"
virtual_network_address_space = ["172.16.0.0/16"]
subnet_name = "srv-subnet-01"
subnet_address_prefixes = ["172.16.0.0/27"]

# Virtual Machine variables
vmname = "tfdemovm001"
virtual_machine_network_interface_ip = "172.16.0.4"
vm_size = "Standard_D2s_v3"
os_disk_type = "Standard_LRS" # Possible Values (Standard_LRS,Premium_LRS,...)
image_publisher = "MicrosoftWindowsServer"
image_offer = "WindowsServer"
image_sku = "2022-datacenter-azure-edition"
admin_username = "**************"

# Virtual Network Gateway variables

vpn_subnet_address_prefixes = ["172.16.0.32/27"]
vpn_gateway_name = "tfdemo-vnet-gw" 
vpn_gateway_sku = "Basic"
vpn_client_subnet_address_prefixes = ["10.16.32.0/27"]
